<form [formGroup]="filtersForm">
    <p-select formControlName="year" (onChange)="onChangeYear()" [options]="yearsOptions" placeholder="Year"></p-select>
    <p-select formControlName="event" (onChange)="onChangeEvent()" [options]="eventOptions"
        placeholder="Event"></p-select>
    <p-select formControlName="session" (onChange)="onChangeSession()" [options]="sessionOptions"
        placeholder="Session"></p-select>
    <p-select formControlName="category" (onChange)="onChangeCategory()" [options]="categoryOptions"
        placeholder="Category"></p-select>
    <p-select formControlName="participant" (onChange)="onChangeParticipant()" [options]="participantOptions"
        placeholder="Participant"></p-select>
</form>

@if (tempoChart().datasets.length > 0) {
<div class="card">
    <!-- TODO: options -->
    <p-chart type="line" [data]="tempoChart()" />
</div>
}

@if (tempoTable().length > 0) {
<p-table [value]="tempoTable()">
    <ng-template #header>
        <tr>
            <th></th>
            <th>Lap Number</th>
            <th>Lap Time</th>
            <th>Sector 1</th>
            <th>Sector 2</th>
            <th>Sector 3</th>
            <th>Driver Name</th>
        </tr>
    </ng-template>
    <ng-template #body let-tempo>
        <tr>
            <td>
                @if (tempo.isInPits && tempo.isInPits === 1) {
                <span pTooltip="Car in pits" tooltipPosition="right" class="pi pi-wrench"></span>
                }
            </td>
            <td>{{ tempo.lapNumber }}</td>
            <td>{{ formatLaptime(tempo.lapTime) }}</td>
            <td>{{ tempo.sector1 }}</td>
            <td>{{ tempo.sector2 }}</td>
            <td>{{ tempo.sector3 }}</td>
            <td class="flex gap-2">
                <span>{{ getTempoDriverName(tempo).at(0) }}</span>
                <strong>{{ getTempoDriverName(tempo).at(1) }}</strong>
            </td>
        </tr>
    </ng-template>
</p-table>
}